.App {
    text-align: center;
    background-color: hsl(106, 30%, 35%);
    color: #fff;
    font-family: Georgia, Times,serif;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .App-link {
    color: #efd483;
    padding-top: 30px;
    text-decoration: none;
  }